<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Formulaire</title>
	</head>
	<body>
		<p>
		Bonjour il est {{date}}, merci de remplir ce formulaire!
		</p>
		<form action="/" method="post">
			<P>
			<LABEL for="prenom">Prénom: </LABEL>
			<INPUT type="text" name="prenom"><BR>
			<LABEL for="nomfamille">Nom de famille: </LABEL>
			<INPUT type="text" name="nomfamille"><BR>
			<LABEL for="email">Adresse Email: </LABEL>
			<INPUT type="text" name="email"><BR>
			<INPUT type="radio" name="sexe" value="Homme"> Homme<BR>
			<INPUT type="radio" name="sexe" value="Femme"> Femme<BR>
			<INPUT type="submit" value="Envoyer"> 
			<INPUT type="reset">
			</P>
		</form>
	</body>
</html>
