<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Créer une nouvelle tâche</title>
	</head>
	<body>
		<h1>Nouvelle tache</h1>
		<form method= "post" action="">
			<input type="text" name="titre" placeholder="titre">
			<textarea name="description" placeholder="description"></textarea>
			<input type="submit" value="Sauvegarder">
		</form>
	</body>
</html>
