<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>404 non trouvé</title>
	</head>
	<body>
		<h1>Non trouvé</h1>
		<p>
		La page demandée n'existe pas.
		</p>
	</body>
</html>
