<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Mon Todo</title>
	</head>
	<body>
		<h1>Bienvenue dans MonTODO</h1>

		<a href="/ecrire/">Créer une nouvelle tâche</a>
		<a href="/liste/">Voir la liste des tâches</a>

	</body>
</html>
