<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Voir taches</title>
	</head>
	<body>
		<h1>Voir taches</h1>
		<div>
			{{#taches}}
			<div>
				<a href="/tache/{{_id}}/">{{titre}}</a>
			</div>
			{{/taches}}
		</div>

	</body>
</html>

