<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Tâche: {{tache.titre}}</title>
	</head>
	<body>
		<h1>{{tache.titre}}</h1>
		<div>
			{{tache.description}}
		</div>
		<div>Fait: {{tache.fait}}</div>
		<div><a href="/supprimer/{{tache._id}}/">Marquer cette tâche comme faite...</a></div>
	</body>
</html>

